{% extends 'base_admin.html' %}
{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">แดชบอร์ดแอดมิน</h2>

        <div class="row mt-4">
            <!-- Card for Total Users -->
            <div class="col-md-4">
                <div class="card shadow-lg p-3 mb-4 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title">จำนวนสมาชิกทั้งหมด</h5>
                        <p class="card-text">{{ total_users }} คน</p>
                    </div>
                </div>
            </div>
            <!-- Card for Total Articles -->
            <div class="col-md-4">
                <div class="card shadow-lg p-3 mb-4 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title">จำนวนบทความสุขภาพ</h5>
                        <p class="card-text">{{ total_articles }} บทความ</p>
                    </div>
                </div>
            </div>
            <!-- Card for Total Diagnoses -->
            <div class="col-md-4">
                <div class="card shadow-lg p-3 mb-4 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title">จำนวนวินิจฉัยทั้งหมด</h5>
                        <p class="card-text">{{ total_diagnoses }} รายการ</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Chart Section -->
        <div class="row mt-4">
            <div class="col-md-6 mb-4">
                <div class="card shadow-lg p-3 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title">จำนวนสมาชิกใหม่ต่อเดือน</h5>
                        <canvas id="userChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card shadow-lg p-3 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title">จำนวนการวินิจฉัยทั้งหมด</h5>
                        <canvas id="diagnosisChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gender and Age Risk Charts -->
        <div class="row mb-4">
            <div class="col-md-6 mb-4">
                <div class="card shadow-lg p-3 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title">สัดส่วนเพศของสมาชิก</h5>
                        <canvas id="genderChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card shadow-lg p-3 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title">การวินิจฉัยตามอายุ</h5>
                        <canvas id="ageRiskChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

             <h1>นัยยะสำคัญของการวินิจฉัยจากโมเดล</h1>

   {% if feature_image_base64 %}
    <img src="data:image/png;base64,{{ feature_image_base64 }}" alt="Feature Importance Graph">
{% else %}
    <p>Error: Unable to display image</p>
{% endif %}

   <center><p>อัพเดตโมเดลวันที่: {{ uploaded_at }}</p></center>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // User Chart
        var ctx1 = document.getElementById('userChart').getContext('2d');
        var userChart = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: {{ user_labels|safe }},
                datasets: [{
                    label: 'จำนวนสมาชิกใหม่',
                    data: {{ user_counts|safe }},
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { position: 'top' },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.label + ': ' + tooltipItem.raw + ' คน';
                            }
                        }
                    }
                }
            }
        });

        // Diagnosis Chart (Doughnut)
        let labels = {{ diagnosis_labels|safe }};
        let counts = {{ diagnosis_counts|safe }};
        let riskCount = 0;
        let noRiskCount = 0;

        // Combining "Risk" and "No Risk"
        for (let i = 0; i < labels.length; i++) {
            if (labels[i] === 'Risk' || labels[i] === 'เสี่ยง') {
                riskCount += counts[i];
                labels[i] = 'เสี่ยง';
            }
            if (labels[i] === 'No Risk' || labels[i] === 'ไม่เสี่ยง') {
                noRiskCount += counts[i];
                labels[i] = 'ไม่เสี่ยง';
            }
        }

        labels = ['เสี่ยง', 'ไม่เสี่ยง'];
        counts = [riskCount, noRiskCount];

        var ctx2 = document.getElementById('diagnosisChart').getContext('2d');
        var diagnosisChart = new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    data: counts,
                    backgroundColor: ['#ff0000', '#008000'],
                    cutoutPercentage: 60
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { position: 'top' },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.label + ': ' + tooltipItem.raw + ' รายการ';
                            }
                        }
                    }
                }
            }
        });

        // Gender Chart (Pie)
        var ctxGender = document.getElementById('genderChart').getContext('2d');
        var genderChart = new Chart(ctxGender, {
            type: 'pie',
            data: {
                labels: ['ชาย', 'หญิง', 'อื่นๆ'],
                datasets: [{
                    data: {{ gender_counts|safe }},
                    backgroundColor: ['#36A2EB', '#FF6384', '#FFCE56']
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { position: 'top' }
                }
            }
        });

        // Age Risk Chart (Bar)
        var ctx = document.getElementById('ageRiskChart').getContext('2d');
        var ageRiskChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ age_labels|safe }},
                datasets: [
                    {
                        label: 'เสี่ยง',
                        data: {{ age_risk_counts|safe }},
                        backgroundColor: 'rgb(255,0,0)',
                    },
                    {
                        label: 'ไม่เสี่ยง',
                        data: {{ age_no_risk_counts|safe }},
                        backgroundColor: 'rgb(0,128,0)',
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: { stacked: true },
                    y: { stacked: true, beginAtZero: true }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.dataset.label + ': ' + tooltipItem.raw + ' รายการ';
                            }
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}
