<!-- no_risk_info.html -->
<h1>ข้อมูลผู้ที่ไม่เสี่ยง</h1>
{% for age_group, diagnoses in age_data.items %}
    <h2>{{ age_group }}</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>BMI</th>
                <th>Blood Pressure</th>
                <th>Glucose</th>
                <th>Prediction</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for diagnosis in diagnoses %}
                <tr>
                    <td>{{ diagnosis.user.username }}</td>
                    <td>{{ diagnosis.bmi }}</td>
                    <td>{{ diagnosis.blood_pressure }}</td>
                    <td>{{ diagnosis.glucose }}</td>
                    <td>{{ diagnosis.prediction }}</td>
                    <td>{{ diagnosis.created_at|date:"Y-m-d H:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
